<h1>Login</h1>

<form action="/session" method="post">

    <label>Username
        <input type="text" name="user[user_name]" value="">
    </label>

    <br />

    <label>User's Password
        <input type="password" name="user[password]" value="">
    </label>

    <br />

    <input type="submit" value="Login!">
</form>

